@import '../../style.scss';

.superbar {
	background-color: $primaryColor;
	transition: all 0.3s ease 0s;
	margin: 0;
	text-align: center;
	padding: 30px;

	a {
		color: $lightContent;
	}
}

.superbar:hover {
	background-color: rgba(18,117,181,0.8);
	transition: all 0.3s ease 0s;
}