@import '../../style.scss';

.about-page {
	.company-info {
		h2 {
			margin-bottom: 20px;
			color: $secondaryColor;
		}
		ul {
			list-style: circle;
			li {
				margin-bottom: 5px;
				line-height: 30px;
			}
		}
	}

	

	.secondary {
		background-color: $baseColor;
	}
}
