@import './variable.scss';
@import './style.scss';

.container {
  width: 90%;
  margin: auto;
}

.primaryButton {
	margin: 0;
	padding: 15px 25px;
	background-color: $primaryColor;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	color: #edf0f1;
}

.primaryButton:hover {
	background-color: rgba($primaryColor, 0.8);
}

.outlinedButtonLight {
	margin-left: 20px;
	padding: 9px 25px;
	color: $lightContent;
	border: 2px solid $lightContent;
	transition: all 0.3s ease 0s;
}

.outlinedButtonLight:hover {
	background-color: $lightContent;
	transition: all 0.3s ease 0s;
	color: $darkContent;
}