@import './variable.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: $baseFont;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.footer {
	background-color: $secondaryColor;
	color: #fff;
	font-size: 15px;

	a {
		color: rgba(255, 255, 255, 0.8);
		font-size: 14px;
		transition: $defaultTransition;
		display: block;
	}

	a:hover {
		transition: $defaultTransition;
		color: rgba(255, 255, 255, 1);
	}

	.contact-icon {
		vertical-align: middle;
		margin-bottom: 10px;
	}

	li {
		padding: 15px 0px;
		border-bottom: 1px solid rgba($lightContent, 0.2);
	}
}

.fab {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 0;
}

ul {
	list-style: none;
}

li,
a,
button {
	font-family: $baseFont;
	font-weight: 500;
	font-size: 16px;
	text-decoration: none;
	color: #000;
}

p {
	color: $darkContent;
	line-height: 30px;
	font-size: 14px;
}

input,
textarea {
	margin: 0;
	padding: 15px;
	border: none;
	border-radius: 5px;
	transition: $defaultTransition;
	border: 1px solid rgba($darkContent, 0.1);
}

input:focus,
textarea:focus {
	border: 1px solid $primaryColor;
	transition: $defaultTransition;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}