/* Color variables */

$primaryColor: rgba(18,117,181,1);
$secondaryColor: #07304f;
$baseColor: #f5f5f5;

$lightContent: #fff;
$darkContent: #222;
$paragraphColor: #838383;

/* Padding variables */

/* Font variables */
$baseFont: 'Montserrat', sans-serif;

$jumbotronImage: url('../../assets/images/jumbotron_background.jpg');

$defaultTransition: all 0.3s ease 0s;

$defaultBoxShadow: 0px 0px 11px -2px rgba(136,136,136,1);