@import '../../style.scss';

.listing-page {

	.detail-icon {
		vertical-align: middle;
		margin-right: 10px;
	}

	.property-description {
		h4 {
			margin: 15px 0px;
		}
	}
	.agent-information {
		padding: 20px 0px;
		display: flex;
		align-items: center;
		img {
			margin-right: 10px;
		}
	}
}