@import '../../style.scss';

.jumbotron {
	background-image: $jumbotronImage !important;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 0px !important;
	margin-bottom: 0px !important;
	padding: 0 !important;
	.content {
		background-color: rgba(0, 0, 0, 0.4);
		padding-top: 2rem !important;
	}
}

.jumbotron-text {
	margin-top: 50px;
	font-family: $baseFont;
	font-size: 2.5em;
	letter-spacing: 3px;
	color: $lightContent;
}

.jumbotron-options {
	border-radius: 5px;
	margin-right: 10px;
	font-family: $baseFont;
	background-color: #fff !important;
	color: #555;
	width: 100% !important;
}

.jumbotron-caption {
	font-family: $baseFont;
	font-size: 1em;
	letter-spacing: 1px;
	color: rgba($lightContent, 0.8);
}

.jumbotron-content {
	margin: auto;
	max-width: 600px;
	margin-top: 3rem;
	padding: 20px 30px;
}

.jumbotron-search-input {
	border-radius: 5px 0px 0px 5px !important;
	margin-right: auto !important;
	box-sizing: border-box !important;
	height: 55px !important;
}

.button-search {
	// padding: 15px 25px !important;
	box-sizing: border-box;
	height: 55px;
}