@import '../../style.scss';

.property-card {

	.text-wrap {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display:block;
	}
	.property-detail {
		display: flex;
		.detail-icon {
			margin-right: 10px;
			align-self: center;
		}
		.detail-text {
			justify-content: center !important;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			margin-bottom: 0;
		}
	}
}