@import '../../style.scss';

.pagination {
    .MuiPagination-root {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

        .MuiPagination-ul {
            width: fit-content !important;
        }
    }
}