@import '../../style.scss';

.service-type {
	padding: 50px;
	text-align: center;
	align-content: center;
}

.service-type h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 20px;
	padding: 15px;
}

.service-type p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 14px;
	padding: 15px;
	color: $paragraphColor;
	line-height: 1.7em;
}