@import '../../style.scss';

.contactbar {
	background: url('../../assets/images/contactbar_background.jpeg');
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	text-align: left;
	text-align: center;
	.content {
		background-color: rgba(0, 0, 0, 0.4);
	}
}

.contactbar-text {
	color: $lightContent;
	margin-bottom: 20px;
}