@import '../../style.scss';

.main {
	background-image: $jumbotronImage;
	background-size: cover;
	background-repeat: no-repeat;
}

.jumbotron-title {
	padding: 40px 0px;
	margin: 0;
	font-family: $baseFont;
	text-align: left;
	font-size: 2.5em;
	letter-spacing: 3px;
	color: #fff;
}