@import "../../style.scss";

.navbar {
  /*position: fixed;*/
  /*width: 100%;*/
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 !important;
}

.secondary {
  background-color: $secondaryColor;
}

.primary {
  // background-color: $lightContent;
}

.navbar-logo {
  margin-right: auto;
  padding: 10px;

  img {
    width: 125px;
  }
}

.navbar-nav {
  list-style: none;
  display: block !important;
  .navbar-item {
    display: inline-block;
    padding: 0px 20px;

    .navbar-link {
      transition: all 0.3s ease 0s;
      color: rgba($lightContent, 0.8);
      // color: rgba($darkContent, 0.8);
      // border-bottom: 2px solid rgba($lightContent, 0.8);
      padding-bottom: 5px;
      text-decoration: none;
    }

    .navbar-link:hover {
      transition: all 0.3s ease 0s;
      color: rgba($lightContent, 1);
    }

    .navbar-link::after {
      content: "";
      display: block;
      width: 0;
      height: 3px;
      background: $lightContent;
      transition: width 0.3s;
      margin-top: 10px;
    }

    .active::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background: $lightContent;
      transition: width 0.3s;
      margin-top: 10px;
    }

    .navbar-link:hover::after {
      width: 100%;
    }
  }
}

.navbar-button {
  border-radius: 25px !important;
  padding: 8px 15px !important;
  border: 2px solid #fff !important;
}

.navbar-menu-button {
  color: #fff;
}

.navbar-menu {
  background-color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 2;
  box-shadow: $defaultBoxShadow;

  ul li a {
    color: $secondaryColor;
    display: block;
    padding: 25px;
  }

  li {
    transition: $defaultTransition;
    cursor: pointer;
    border: 1px solid $baseColor;
  }

  li:hover {
    transition: $defaultTransition;
    background-color: $baseColor;
  }
}
